body {
  font-family: verdana;
  background: rgb(34, 193, 195);
  background: #f8efea;
  font-family: 'work sans';
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

html {
  font-size: 100%;
}

a {
  color: black;
  text-decoration: none;
}

#loginform {
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 1rem;
}

#headerTitle {
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  max-width: 100%;
}

.row input {
  width: 80%;
  box-sizing: border-box;
  border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
  outline: none;
}

.row label {
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187, 187, 187, 0.9);
}

.row button {
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34, 193, 195);
  background: linear-gradient(90deg, #f9f9f6 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  margin-top: 1rem;
  /* Ensure spacing between the buttons */
}

.row button:hover {
  opacity: 0.8;
}

#registerButton {
  background: linear-gradient(90deg, #f9f9f6 100%);
}

#registerButtonContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 20px 3px;
}

#allProducts {
  width: 100%;
  padding: 0px;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Aligns items to the start of the container */
  gap: 15px;
  /* Adjust the gap between cards. Decrease if you want them closer */
}

.productCard {
  flex: 1;
  width: 275px;
  /* Adjust as needed */
  max-width: 275px;
  /* Adjust as needed */
}

#large-text {
  font-size: 1.25rem;
}
